* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px;
}

#app {
  max-width: 768px;
  margin: 0 auto;
}

.profile-pic {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: url(../assets/picture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60px;
  /* border: solid 2px #000; */
}

.header-ver-line {
  height: 70px;
  margin: 0 20px;
  border-left: solid 1px #000;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.row {
  flex-direction: row
}
.flex.col {
  flex-direction: row
}