@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply max-w-7xl m-auto w-full;
  direction: rtl;
}

* {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

strong {
  @apply font-bold;
}